<style>
  .button {
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    background-color: #2ca444;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 3px 2px;
    cursor: pointer;
  }
  .button:hover {
    background-color: yellowgreen;
    color: black;
  }
  
</style>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if(!cookie){ %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/login-page">Create New URL</a>
        </div>
      </div>
      <form class="form-inline form-style" action="/login-page" method="GET">
        <button type="submit" class="button">Login</button>
      </form>
      <form class="form-inline form-style" action="/register-page" method="GET">
      <button type="submit" class="button">Register</button>
      </form>
        <% } else { %>  
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/urls">My URLs</a>
              <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
            </div>
          </div>
          <form class="form-inline form-style" action="/logout" method="POST">
          <span style="display:block; color: rgba(0, 0, 0, 0.5); font-size: 20px; padding-right: 15px;"
          >Logged in as <%= email %></span>
          <button type="sumbit" class="button">Logout</button>
          </form>
     <% } %>

    </form>
  </nav>
</header>